@inherits LayoutComponentBase
@inject GreenTrade.Client.Services.ThemeService ThemeService

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            @Body
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ThemeService.InitializeAsync();
    }
}
